body {
  font-weight: 300;
}

.btn:focus {
  outline: none !important;
}

.btn:active:focus {
  outline: none !important;
}

.btn-nodeco {
  text-decoration: none !important;
}

#timer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  border-radius: 0;
}

.control, .script {
  cursor: pointer;
}
